@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  font-family: "Montserrat", sans-serif;
}
.container li {
  list-style: none;
}
.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0 5em 0 5em;
}
.container a {
  text-decoration: none;
  font-size: 2.2rem;
  font-weight: 800;

  color: #333;
  text-shadow: 3px 3px #43d685;
}
.todo {
  color: #333 !important;
  transition: 0.5s ease-in-out;
}
.todo:hover {
  text-shadow: 2px 2px#ffffff !important;
}
.logowrap {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 0.3em;
}
.logowrap img {
  display: block;
  height: auto;
  width: 100%;
  max-width: 50px;
}
