.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
}
.container h1 {
  font-size: clamp(2.1875rem, 1.9034rem + 0.9091vw, 2.8125rem);
  font-weight: 900;
  transition: 0.6s ease-in-out;
  cursor: pointer;
  animation: upwardDownward 2s ease-in-out infinite;
}

@keyframes upwardDownward {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-24px);
    text-shadow: 3px 3px #43d685;
  }
  100% {
    transform: translateY(0);
  }
}

.wala {
  display: block;
  width: 100%;
  height: auto;
  max-width: 550px;
}
